
*.class
*.log
hs_err_pid*
replay_pid*

target/
build/

.idea/
*.iml
*.ipr
*.iws
out/

.classpath
.project
.settings/
.apt_generated
.factorypath
.springBeans
.sts4-cache

.vscode/

.DS_Store
Thumbs.db

.env
*.env
application-local.properties
application-local.yml

jacoco/
coverage/

!mvnw
!mvnw.cmd
!.mvn/
